<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h3>Scisr</h3>
      <nav>
        <a href="/login"><p>Signin</p></a>
      </nav>

      <!-- // auth username and photo -->
    </header>
    <main>
      <h1>URL too long? don't worry Scisr got you covered.</h1>
      <p>
        Experience first hand the seamless new technology for shrinking your url
        and mointoring it's performance with our innovative and customer driven
        analytic tools
      </p>
    </main>
    <footer>
      <p>
        <a href="https:st-pardon.netlify.app">St. Pardon</a> &copy; 2023. All
        Rights Reserved
      </p>
    </footer>
  </body>
</html>
