<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="login">
      <img src="assets/login.svg" alt="login" />
      <p>Get full analytic report to see how your link is performing</p>
      <a href="/auth/google">
        <div>
          <img src="assets/google-color-svgrepo-com.svg" alt="Google" />
          <span>Continue With Google</span>
        </div>
      </a>
    </section>
  </body>
</html>
